.App {
  /* border: 2px solid green; */
  height: 100%;
  width: 65%;
  margin-left: 15rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

